* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.header-link, .hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    flex-grow: 1;
}

.hero-secondary-text {
    flex-grow: 1;
}

.hero-main-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 60px 0;
}

.hero-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.hero-content-right {
    background-color: #e5e7eb;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 6px 18px;
}

.information-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    padding: 60px 100px;
}

.information-cards {
    padding: 60px 60px;
    display: flex;
    justify-content: space-around;
    gap: 36px;
}

.information-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image-box {
    border-width: 3px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.subtext {
    color: #1f2937;
    max-width: fit-content;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.quote-author {
    font-size: 22px;
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
    text-align: right;
}

.action {
    padding: 60px 100px;
    
}

.action-box {
    background-color: #3882f6;
    color:#e5e7eb;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 40px 80px;
}

.action-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.action-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-title {
    font-size: 24px;
}

.action-button {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #f9faf8;
    border-style: solid;
    border-width: 2px;
    padding: 6px 18px;
    color: #f9faf8;
}

.footer {
    background-color:#1f2937
}

.footer-text {
    color: #e5e7eb;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}